@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin:0px;
    padding:0px;
}
body{
    font-family:'Lato', sans-serif;
    color:#777;
}
h2{
  
    background-color:rgba(0, 0, 0, 0.021);
    width:20vw;
    top:40vh;
    left:40vw;
    position:absolute;
    margin:auto;
    font-variant: small-caps;
}
div.conteudo{
    width:98vw;
    height:93vh;
    position:relative;
    padding-left:10px;
    text-align: center;
    opacity: 0.8;
}

div#conteudo1 {
    background: url('../imagens/imagem1.jpg') no-repeat center center fixed;
    background-size:cover;
}
div#conteudo2 {
    background: url('../imagens/imagem2.jpg') no-repeat center center fixed;
    background-size:cover;
}
div#conteudo3 {
    background: url('../imagens/imagem3.jpg') no-repeat center center fixed;
    background-size:cover;
}

div.texto {
    width:80vw;
    margin:auto;
    text-align: center;
    padding:20px;
}
h3{
    font-size:3em;
}
p{
    padding:10px;
    line-height: 1.5em;
    text-align: justify;
    text-indent: 10px;
}
