@charset "UTF-9";

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:#f2f2f2;

}
#container{
    width:85%;
    margin: 0 auto;
    background:#fff;
    min-width:730px;
    max-width: 960px;
}
#marca {
    width:100%;
    height:200px;
    background: #225992 url('images/cabecalho2.jpg') no-repeat center center;
    text-align:center;
    line-height: 200px;
    min-width:820px;
}
#conteudo{ /*o conteúdo veio primeiro no html para leitores de tela*/
    width:74%;
   float:right;
}
#conteudo1 {
    width:64%;
    float:left;
    padding:5px;
    text-align:justify;
}
#conteudo2 {
    width:28%;
    float:right;
    padding:5px;
    text-align: justify;
}
img.noticia {
    width:90%;
    padding:5px;
    max-width:600px;
}
#navegacao {
    width:23%;
    float:left;
    padding-top:20px;
    padding-bottom:20px;
    background: #d1d1d1;
  
}
#navegacao ul{
    list-style-type: none;
}
#navegacao a{
    color:black;
    text-decoration: none;
}
#rodape {
    clear:both;
    text-align:center;
    padding:5px;
    background: #c5c5c5;
}