@charset "UTF-8";
/* Barra de navegação vertical */
nav ul{
    list-style-type: none;
}
nav a {
    color:black; 
    text-decoration:none;
    width:200px;
    height:40px;
    border:1px solid black;
    text-indent:25px;
    line-height: 40px;
    display:block;
    background: url('../images/menu.png') no-repeat left center;
    transition: 0.5s;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
}
nav a:hover {
    background: url('../images/menu.png') no-repeat right center; 
}
#home .home {
background: url('../images/menu.png') no-repeat right center; 
}
#sobre .sobre {
    background: url('../images/menu.png') no-repeat right center; 
}
#contato .contato {
    background: url('../images/menu.png') no-repeat right center; 
}
#servico .servico {
    background: url('../images/menu.png') no-repeat right center; 
}
#noticias .noticias {
    background: url('../images/menu.png') no-repeat right center; 
}
/* Lista Principal */
main ul {
    list-style-type:none; 
    margin:0px;
    padding:opx;
}
main li {
    padding: 5px 10px;
    border: 1px solid red;
    background:url('../images/seta.png') no-repeat left center;   
}