@charset "UTF-8";
*{
    margin:0px;
    padding:0px;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#fff;
}
#cabecalho{
    background: url('../imagens/fundo.png') repeat-x;
    background-size:contain;
    height:250px;
    position:fixed;
    width:100%;
}
#cabecalho1 {
    width:60%;
    padding:50px;
    margin:auto;
    background: url('../imagens/detalhe-topo.png') no-repeat right top;
}
nav ul{
    margin-top:20px;
    list-style-type: none;
    background: #b10333;
    float:left;
}
nav li{
    padding:10px;
    margin: 0px;
    float:left;
}
nav li a {
    color: #fff;
    text-decoration:none;
    display:block;
    padding:0.5em 1.0em;
       
}
#cabecalho1 h1{
    display:none;
}